body{
    margin: 0 auto;
    padding: 0 auto;
}
.year{
    display: flex;
    justify-content: center;
    align-items: center;
}
.day1 td{
    text-align: center;
    padding:10px;
    border: 1px solid white;
    background-color: yellowgreen;
    color:white;
}
.day2{
    text-align: center;
}
.day3{
    text-align: center;
}
.day3 td{
    border: groove;
    padding: 10px 20px 10px 20px;
}
h1{
    text-align: center;
    color: blue;
}
.red {
    color: red;
    font-weight: bold;
}
.black {
    color: black;
    font-weight: bold;
}
.blue{
    color:blue;
    font-weight:bold;
}